---
title: resurser
---

<div class="resource-content">

  <div class="row">
    <div class="small-12 columns">
      <h3>Dokument</h3>

        <table class="responsive" width="100%">
          <thead>
            <tr>
              <th width="20%">Titel</th>
              <th width="55%">Beskrivning</th>
              <th width="10%">Datum</th>
              <th width="10%">Storlek</th>
              <th width="5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/assets/files/LNU.pdf">Allmänna villkor</a></td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1,2 mb</td>
              <td><center><i class="fi-download"></i></i></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><i class="fi-download"></i></center></td>
            </tr>
          </tbody>
        </table>
        <a href="/resurser/dokument" class="button radius alert right tiny">Visa alla dokument &raquo;</a>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Manualer</h3>

        <table class="responsive" width="100%">
          <thead>
            <tr>
              <th width="20%">Titel</th>
              <th width="55%">Beskrivning</th>
              <th width="10%">Datum</th>
              <th width="10%">Storlek</th>
              <th width="5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Allmäna villkor</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1,2 mb</td>
              <td><center><i class="fi-download"></i></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><i class="fi-download"></i></center></td>
            </tr>
          </tbody>
        </table>
        <a href="/resurser/manualer" class="button radius alert right tiny">Visa alla manualer &raquo;</a>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Applikationer</h3>

        <table class="responsive" width="100%">
          <thead>
            <tr>
              <th width="20%">Titel</th>
              <th width="55%">Beskrivning</th>
              <th width="10%">Datum</th>
              <th width="10%">Storlek</th>
              <th width="5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Allmäna villkor</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1,2 mb</td>
              <td><center><i class="fi-download"></i></center></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><center><i class="fi-download"></i></center></td>
            </tr>
          </tbody>
        </table>
      <a href="/resurser/applikationer" class="button radius alert right tiny">Visa alla applikationer &raquo;</a>
    </div>
  </div>

</div>
