---
title: resurser
---

<div class="resource-content">

  <div class="row">
    <div class="small-12 columns">
      <h3>Dokument</h3>

        <table class="responsive">
          <thead>
            <tr>
              <th>Titel</th>
              <th width="70%">Beskrivning</th>
              <th>Datum</th>
              <th>Storlek</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/assets/files/LNU.pdf">Allmäna villkor</a></td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1,2 mb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1124 kb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Manualer</h3>

        <table class="responsive">
          <thead>
            <tr>
              <th>Titel</th>
              <th width="70%">Beskrivning</th>
              <th>Datum</th>
              <th>Storlek</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Allmäna villkor</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1,2 mb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1124 kb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Applikationer</h3>

        <table class="responsive">
          <thead>
            <tr>
              <th>Titel</th>
              <th width="70%">Beskrivning</th>
              <th>Datum</th>
              <th>Storlek</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Allmäna villkor</td>
              <td><%= lorem.sentences 1 %></td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td><a href="/assets/files/LNU.pdf"><i class="fi-download"></i></a></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1,2 mb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
            <tr>
              <td>Content Goes Here</td>
              <td><%= lorem.date('%Y-%m-%d') %></td>
              <td>1124 kb</td>
              <td>1124 kb</td>
              <td><i class="fi-download"></i></i></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>

</div>
