<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">

    <li><%= link_to '<label>Start</label>', '/index.html', :class => "label-link" %></li>
    <li><%= link_to '<label>Tjänster</label>', '/tjanster', :class => "label-link" %></li>
    <li><%= link_to '&raquo; Infrastruktur', '/tjanster/infrastruktur'%></li>
    <li><%= link_to '&raquo; Säkerhet', '/tjanster/sakerhet'%></li>
    <li><%= link_to '&raquo; Drift &amp; support', '/tjanster/drift-och-support'%></li>
    <li><%= link_to '&raquo; Webb &amp; utveckling', '/tjanster/webb-och-utveckling'%></li>
    <li><%= link_to '&raquo; Licenser &amp; SAM', '/tjanster/licenser-och-sam'%></li>

    <li><%= link_to '<label>Produkter</label>', '/produkter', :class => "label-link" %></li>
    <li><%= link_to '&raquo; IT-utrustning', '/produkter/it-utrustning'%></li>
    <li><%= link_to '&raquo; Servicedesk', '/produkter/servicedesk'%></li>
    <li><%= link_to '&raquo; Licenser &amp; SAM', '/produkter/licenser-och-sam'%></li>

    <li><%= link_to '<label>Hosting</label>', '/hosting', :class => "label-link" %></li>
    <li><%= link_to '&raquo; Virtuell privat server', '/hosting/virtuell-privat-server'%></li>
    <li><%= link_to '&raquo; Dedikerad server', '/hosting/dedikerad-server'%></li>
    <li><%= link_to '&raquo; Webbhosting', '/hosting/webbhosting'%></li>
    <li><%= link_to '&raquo; Exchange', '/hosting/exchange'%></li>
    <li><%= link_to '&raquo; Lync', '/hosting/lync'%></li>
    <li><%= link_to '&raquo; Office 365', '/hosting/office365'%></li>

    <li><%= link_to '<label>Resurser</label>', '/resurser', :class => "label-link" %></li>
    <li><%= link_to '&raquo; Dokument', '/resurser/dokument'%></li>
    <li><%= link_to '&raquo; Manualer', '/resurser/manualer'%></li>
    <li><%= link_to '&raquo; Applikationer', '/resurser/applikationer'%></li>

    <li><%= link_to '<label>Om oss</label>', '/om-oss', :class => "label-link" %></li>
    <li><%= link_to '&raquo; Medarbetare', '/om-oss/medarbetare'%></li>
    <li><%= link_to '&raquo; Företaget', '/om-oss/foretaget'%></li>
    <li><%= link_to '&raquo; Vår vision', '/om-oss/vision'%></li>
    <li><%= link_to '&raquo; Kontakt', '/om-oss/kontakt'%></li>

  </ul>
</aside>
