<div class="page-content">

  <div class="row page-content-text">
    <div class="small-12 columns">
      <h2 class="inline">Tjänster.</h2>
      <p><%= lorem.sentences 10 %></p>
    </div>
  </div><!-- end row -->

    <div class="row border" data-equalizer>
    <div class="small-6 columns" data-equalizer-watch>
      <%= image_tag "aid-photo01.jpg" %>
    </div>
    <div class="small-6 columns" data-equalizer-watch>
      <%= image_tag "aid-photo02.jpg" %>
    </div>
  </div><!-- end row -->

  <div class="row page-content-text">
    <div class="small-6 columns">
      <h3 class="inline">Webb &amp; utveckling.</h3>
      <p><%= lorem.sentences 2 %> <a href="/tjanster/infrastruktur"><span class="label secondary">Läs mer &raquo;</span></a></p>
    </div>
    <div class="small-6 columns">
      <h3 class="inline">Licenser &amp; SAM.</h3>
      <p><%= lorem.sentences 2 %> <a href="/tjanster/drift-och-support"><span class="label secondary">Läs mer &raquo;</span></a></p>
    </div>
  </div><!-- end row -->


  <div class="row border" data-equalizer>
    <div class="small-4 columns" data-equalizer-watch>
      <%= image_tag "aid-photo11.jpg" %>
    </div>
    <div class="small-4 columns" data-equalizer-watch>
      <%= image_tag "aid-photo03.jpg" %>
    </div>
    <div class="small-4 columns" data-equalizer-watch>
      <%= image_tag "aid-photo06.jpg" %>
    </div>
  </div><!-- end row -->

  <div class="row page-content-text text-small">
    <a class="clean" href="/tjanster/infrastruktur">
      <div class="small-4 columns">
        <h3>Infrastruktur.</h3>
        <p class="smaller"><%= lorem.sentences 4 %> <a href="/tjanster/infrastruktur"><span class="label secondary">Läs mer &raquo;</span></a></p>
      </div>
    </a>
    <div class="small-4 columns">
      <h3>Drift &amp; support.</h3>
      <p class="smaller"><%= lorem.sentences 4 %> <a href="/tjanster/drift-och-support"><span class="label secondary">Läs mer &raquo;</span></a></p>
    </div>
    <div class="small-4 columns">
      <h3>Webb &amp; utveckling.</h3>
      <p class="smaller"><%= lorem.sentences 4 %> <a href="/tjanster/drift-och-support"><span class="label secondary">Läs mer &raquo;</span></a></p>
    </div>
  </div><!-- end row -->




</div><!-- end page content -->
