<div class="page-content">
  <div class="row">
    <div class="small-12 columns">
      <h2>Medarbetare</h2>
    </div>
    <div class="row">
      <div class="small-6 medium-3 columns"><a href="/om-oss/medarbetare/henrik-toft"><%= image_tag "person.svg", :class => "staff" %></a></div>
      <div class="small-6 medium-3 columns"><a href="/om-oss/medarbetare/hans-andersson"><%= image_tag "person.svg", :class => "staff" %></a></div>
      <div class="small-6 medium-3 columns"><a href="/om-oss/medarbetare/daniel-swahnberg"><%= image_tag "person.svg", :class => "staff" %></a></div>
      <div class="small-6 medium-3 columns"><a href="/om-oss/medarbetare/alexander-hall"><%= image_tag "person.svg", :class => "staff" %></a></div>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <div class="small-6 medium-3 columns"><%= image_tag "person.svg", :class => "staff" %></div>
      <div class="small-6 medium-3 columns"><%= image_tag "person.svg", :class => "staff" %></div>
      <div class="small-6 medium-3 columns"><%= image_tag "person.svg", :class => "staff" %></div>
      <div class="small-6 medium-3 columns"><%= image_tag "person.svg", :class => "staff" %></div>
    </div>
  </div>
</div>