---
title: Hosting
sub_sections:
  - title: 'Virtuell privat server'
    url: '/hosting/virtuell-privat-server'
  - title: 'Dedikerad server'
    url: '/hosting/dedikerad-server'
  - title: 'Webbhosting'
    url: '/hosting/webbhosting'
  - title: 'Exchange'
    url: '/hosting/exchange'
  - title: 'Lync'
    url: '/hosting/lync'
  - title: 'Office 365'
    url: '/hosting/office365'
---

<%
  sub_01 = current_page.data.sub_sections.at(0)
  sub_02 = current_page.data.sub_sections.at(1)
  sub_03 = current_page.data.sub_sections.at(2)
  sub_04 = current_page.data.sub_sections.at(3)
  sub_05 = current_page.data.sub_sections.at(4)
  sub_06 = current_page.data.sub_sections.at(5)
%>

<section class="main-section">

  <div class="page-content">

    <!-- hosting text -->
    <div class="row page-content-text">
      <div class="small-12 columns">
        <h2 class="inline"><%= current_page.data.title%>.</h2>
        <p><%= lorem.sentences 10 %>.</p>
      </div>
    </div>
    <!-- hosting text end -->

    <!-- images -->
    <div class="row" data-equalizer>
      <a href="<%= sub_01.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo11.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
      <a href="<%= sub_02.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo03.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
      <a href="<%= sub_03.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo06.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
    </div>
    <!-- images end -->

    <!-- text -->

    <div class="row page-content-text text-small">
      <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo11.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_01.url %>"><h3><%= sub_01.title %>.</h3></a>
          <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_01.url %>"><span class="read-more">[&hellip;]</span></a></p>
      </div>
      <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo03.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_02.url %>"><h3><%= sub_02.title %>.</h3></a>
        <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_02.url %>"><span class="read-more">[&hellip;]</span></a></p>
      </div>
      <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo06.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_03.url %>"><h3><%= sub_03.title %>.</h3></a>
        <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_03.url %>"><span class="read-more">[&hellip;]</span></a></p>
      </div>
    </div>
    <!-- text end -->


    <!-- images -->
    <div class="row" data-equalizer>
      <a href="<%= sub_04.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo03.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
      <a href="<%= sub_05.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo06.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
      <a href="<%= sub_06.url %>">
        <div class="small-12 medium-4 columns" data-equalizer-watch>
          <%= image_tag "aid-photo11.jpg", :class => 'hide-for-small-only' %>
        </div>
      </a>
    </div>
    <!-- images end -->

    <!-- text -->
    <div class="row page-content-text text-small">
      <a class="clean" href="/tjanster/infrastruktur">
        <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo11.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_04.url %>"><h3><%= sub_04.title %>.</h3></a>
          <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_04.url %>"><span class="read-more">[&hellip;]</span></a></p>
        </div>
      </a>
      <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo03.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_05.url %>"><h3><%= sub_05.title %>.</h3></a>
        <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_05.url %>"><span class="read-more">[&hellip;]</span></a></p>
      </div>
      <div class="small-12 medium-4 columns">
        <%= image_tag "aid-photo06.jpg", :class => 'show-for-small-only small-screen-image' %>
        <a href="<%= sub_06.url %>"><h3><%= sub_06.title %>.</h3></a>
        <p class="smaller"><%= lorem.sentences 4 %>. <a href="<%= sub_06.url %>"><span class="read-more">[&hellip;]</span></a></p>
      </div>
    </div>
    <!-- text end -->


  </div>
  <!-- page content end -->

</section>
<!-- main section end -->
