---
sub_sections:
  - title: 'Infrastrukturella helhetslösningar'
    url: '/tjanster/infrastruktur'
    text: 'Att välja AID som IT-partner innebär många fördelar. Vi utvecklar din idé till en körklar helhetslösning anpassad efter just dina behov. Du får allt under ett tak, aktivt med&shy;bestämmande och sekretess. Med mångårig erfarenhet av att utveckla lösningar till företag i olika branscher och situationer, har AID kapacitet att tillhandahålla tjänster och produkter som täcker upp hela den infrastrukturella kedjan. Ingen fråga är för stor eller för liten för oss!'

  - title: 'Kraftfulla och säkra hostingtjäster'
    url: '/hosting'
    text: 'Från vår serverhall i Kungsbacka levererar vi kraftfulla och säkra hostingtjänster för både enkla och avancerade behov. AID erbjuder allt ifrån enklare webbhotellstjänster till specialanpassade virtuella privata servrar och dedikerade servrar med full kontroll. Våra kostnadseffektiva och skal&shy;bara hostingtjänster lämpar sig väl för små och stora webbplatser, molnbaserade applikationer eller kompletta lagringslösningar.'

  - title: 'Komplett support och drift'
    url: '/tjanster/drift-och-support'
    text: 'AID erbjuder komplett support för dig som behöver hjälp med din IT-miljö, vare sig det gäller hård- eller mjukvara. Vi har omfattande erfarenhet av support för programvara i microsoftfamiljen såväl som de flesta vanligt förekomm&shy;ande affärssystemen och programvarorna bland små och medelstora företag.'

  - title: 'Smartare webblösningar'
    url: '/tjanster/webb-och-utveckling'
    text: 'AID utvecklar smarta, snygga och informativa webb&shy;lösningar utifrån dina visioner och önskemål. Med koll på de senaste teknikerna och trenderna inom modern webb&shy;utveckling tar vi fram webbplatser och e-handels&shy;lösningar, optimerade för sökmotorer såväl som administratörer och slutanvändare. Fokus ligger på design, användbarhet, flexibilitet och kvalitet.'

---

<%
  sub_01 = current_page.data.sub_sections.at(0)
  sub_02 = current_page.data.sub_sections.at(1)
  sub_03 = current_page.data.sub_sections.at(2)
  sub_04 = current_page.data.sub_sections.at(3)
%>

<!-- main section -->
<section class="main-section">

<!-- dropdown-curtain start -->
<%= partial "index-splash-curtain" %>
<!-- dropdown-curtain end -->

<!-- icon display start -->
<%= partial "index-icon-list" %>
<!-- icon display end -->

  <!-- main content start -->
  <div class="main-content">

    <!-- infrastructure section -->
    <section>
      <div class="row border" id="infrastruktur" data-equalizer>

        <!-- infrastructure image -->
        <div class="small-12 medium-10 large-8 medium-centered large-uncentered columns" data-equalizer-watch>
          <%= image_tag "aid-photo10.jpg" %>
        </div>
        <!-- infrastructure image end -->

        <!-- infrastructure form -->
        <div class="medium-8 show-for-large-up large-4 columns panel form" data-equalizer-watch>
          <%= partial "contact-form" %>
        </div>
        <!-- infrastructure form end -->
      </div>
      <!-- infrastructure image/form row end -->

      <!-- infrastructure text -->
      <div class="row main-content-text">
        <div class="large-12 columns">
            <a class="full-text-link" href="<%= sub_01.url %>">
            <h2 class="start-page"><%= sub_01.title %></h2>
            <p class="columnize"><%= sub_01.text %></p></a>
        </div>
      </div>
      <!-- infrastructure text end -->

    </section>
    <!-- infrastructure section end -->

    <!-- hosting section -->
    <section>
      <div class="row border" id="hosting" data-equalizer>

        <!-- hosting image -->
        <div class="small-12 medium-10 large-8 medium-centered large-uncentered columns" data-equalizer-watch>
          <%= image_tag "aid-photo06.jpg" %>
        </div>
        <!-- hosting image end -->
        
        <!-- hosting - domain lookup form -->
        <div class="medium-8 show-for-large-up large-4 columns panel form" data-equalizer-watch>
          <%= partial "domain-form" %>
        </div>

        <!-- hosting - domain lookup form end -->

      </div>
      <!-- hosting image/form row end -->

      <!-- hosting text -->
      <div class="row main-content-text">
        <div class="large-12 columns">
            <a class="full-text-link" href="<%= sub_02.url %>">
            <h2 class="start-page"><%= sub_02.title %></h2>
            <p class="columnize"><%= sub_02.text %></p></a>
        </div>
      </div>
      <!-- hosting text end -->
    </section>
    <!-- hosting section end -->

    <!-- drift-support section -->
    <section>
      <div class="row border" id="support" data-equalizer>

        <!-- drift-support image -->
        <div class="small-12 medium-10 large-8 medium-centered large-uncentered columns" data-equalizer-watch>
          <%= image_tag "aid-photo07.jpg" %>
        </div>
        <!-- drift-support image end -->

        <!-- drift-support form -->
        <div class="medium-8 show-for-large-up large-4 columns panel form" data-equalizer-watch>
          <%= partial "contact-form" %>
        </div>
        <!-- drift-support form end -->
      </div>
      <!-- drift-support image/form row end -->

      <!-- drift-support text -->
      <div class="row main-content-text">
        <div class="large-12 columns">
            <a class="full-text-link" href="<%= sub_03.url %>">
            <h2 class="start-page"><%= sub_03.title %></h2>
            <p class="columnize"><%= sub_03.text %></p></a>
        </div>
      </div>
      <!-- drift-support text end -->

    </section>
    <!-- drift-support section end -->


    <!-- webb-utveckling section -->
    <section>
      <div class="row border" id="webb" data-equalizer>

        <!-- webb-utveckling image -->
        <div class="small-12 medium-10 large-8 medium-centered large-uncentered columns" data-equalizer-watch>
          <%= image_tag "web-design.jpg" %>
        </div>
        <!-- webb-utveckling image end -->

        <!-- webb-utveckling form -->
        <div class="medium-8 show-for-large-up large-4 columns panel form" data-equalizer- watch>
          <%= partial "contact-form" %>
        </div>
        <!-- webb-utveckling form end -->
      </div>
      <!-- webb-utveckling image/form row end -->

      <!-- webb-utveckling text -->
      <div class="row main-content-text">
        <div class="large-12 columns">
            <a class="full-text-link" href="<%= sub_04.url %>">
            <h2 class="start-page"><%= sub_04.title %></h2>
            <p class="columnize"><%= sub_04.text %></p></a>
        </div>
      </div>
      <!-- webb-utveckling text end -->
    </section>
    <!-- webb-utveckling section end -->
  </div>
  <!-- main content end -->
</section>
<!-- main section end -->
